.favorite-card {
  &__image-wrapper {
    height: 20rem;
    width: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
