<app-header-info></app-header-info>
<mat-divider></mat-divider>
<app-header-navigation
  (toCategories)="onCategoriesClick()"
  (toMain)="onLogoClick()"
  (loginClick)="openLogin()"
  (logoutClick)="onLogoutClick()"
  (searchInputChange)="onSearchInputChange($event)"
  [userInfo]="userInfo$ | async"
></app-header-navigation>
<mat-divider></mat-divider>
<app-header-search-results
  *ngIf="isSearchResultsOpened"
  [categories]="searchCategories"
  [subCategories]="searchSubCategories"
  [goods]="searchGoods"
  (linkClick)="onLinkClick($event)"
  (isClickOnComponent)="onIsClickOnSearchResults($event)"
  id="header-search-results"
></app-header-search-results>
