<div class="header-info__wrapper">
  <div class="header-info__location">
    <div class="header-info__icon"></div>
    <p>Минск</p>
  </div>
  <div class="header-info">
    <div class="header-info__contacts mat-body-1">
      <p>Viber</p>
      <p>A1 +375(09)8765432</p>
      <button mat-button color="accent" [matMenuTriggerFor]="menu">Ещё &#9660;</button>
      <mat-menu #menu xPosition="before">
        <p class="header-info__more-contacts-item">life:) : +375(08)7654321</p>
        <p class="header-info__more-contacts-item">Телефон: +375(08)7654321</p>
        <p class="header-info__more-contacts-item">Telegram</p>
        <p class="header-info__more-contacts-item">Почта</p>
        <p class="header-info__more-contacts-item">Заказать звонок</p>
        <p class="header-info__more-contacts-item">Написать нам</p>
      </mat-menu>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="header-info__working-hours">
      <h6 class="mat-hint">контакт-центр</h6>
      <h6 class="mat-hint">с 8:00 до 22:00</h6>
    </div>
  </div>
</div>
