<mat-divider></mat-divider>
<footer class="footer">
  <div class="footer__contacts">
    <button mat-button class="footer__contactcs-item">
      <mat-icon>call</mat-icon> +375(08)7654321 ( life:) )
    </button>
    <button mat-button class="footer__contactcs-item">
      <mat-icon>call</mat-icon> +375(08)7654321 ( A1 )
    </button>
    <button mat-button class="footer__contactcs-item">
      <mat-icon>telegram</mat-icon> Telegram
    </button>
    <button mat-button class="footer__contactcs-item"><mat-icon>mail</mat-icon> Почта</button>
    <button mat-button class="footer__contactcs-item">
      <mat-icon>perm_phone_msg</mat-icon> Заказать звонок
    </button>
    <button mat-button class="footer__contactcs-item">
      <mat-icon>message</mat-icon> Написать нам
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="footer__links">
    <a mat-mini-fab class="footer__link-button" href="https://www.facebook.com/">
      <img src="../../../../assets/icons/footer/facebook.png" alt="" />
    </a>
    <a mat-mini-fab class="footer__link-button" href="https://www.instagram.com/">
      <img src="../../../../assets/icons/footer/instagram.png" alt="" />
    </a>
    <a mat-mini-fab class="footer__link-button" href="https://ok.ru/">
      <img src="../../../../assets/icons/footer/odnoklassniki.png" alt="" />
    </a>
    <a mat-mini-fab class="footer__link-button" href="https://vk.com/">
      <img src="../../../../assets/icons/footer/vk.png" alt="" />
    </a>
    <a mat-mini-fab class="footer__link-button" href="https://youtube.com/">
      <img src="../../../../assets/icons/footer/youtube.png" alt="" />
    </a>
  </div>
</footer>
